<div class="row">
  <div class="col-lg-6">
    <div class="input-group mb-3">
      <input type="text" class="form-control" [ngClass]="{'highlighted-text': isWordHighlighted}" [(ngModel)]="word" placeholder="Add Word"
        aria-label="Add Word" aria-describedby="basic-addon2">
      <div class="input-group-append">

        <span class="input-group-text" id="basic-addon2" style="color:lightseagreen" (click)="addWord()">
          <i class="fas fa-plus-circle fa-lg"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="input-group mb-3">
      <input type="text" class="form-control" [ngClass]="{'highlighted-text': isMeaningHighlighted}" [(ngModel)]="meaning" placeholder="Add Meaning"
        aria-label="Add Meaning" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2" style="color:lightseagreen" (click)="addMeaning()">
          <i class="fas fa-plus-circle fa-lg"></i>
        </span>
      </div>
    </div>
  </div>
</div>