<div class="row">
  <div class="input-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="list" placeholder="List Name" aria-label="List Name" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2" style="color:lightseagreen" (click)="addList()">
        <i class="fas fa-plus-circle fa-lg"></i>
      </span>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-lg-5 offset-2">
      <h4>Listas</h4>
    </div>
  <div class="col-lg-5">
    <div *ngFor="let lst of lists">
      <p class="ui-button-text-icon-primary"><a [routerLink]="['/lists', lst]">{{lst}}</a></p>
    </div>
  </div>
</div>